<div class="container mt-5">

<nav class="navbar bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <i class="fa-solid fa-film"></i>
      <% @lists.each do |list| %>
        <%= list.name %>
  <%= link_to "Voir les listes", list_path(list), class: "btn btn-outline-secondary"%>
  <% end %>
  <%= link_to "Nouvelle liste", new_list_path, class: "btn btn-outline-secondary"%>
    </a>
  </div>
</nav>

<div class="banner">
  <%= image_tag "cinema_2.jpg", class: "banner-img" %>
  <div class="banner-content">

  </div>
</div>



</div>
