<h2><%= @list.name %></h2>

<%= link_to "Retour aux listes", lists_path%>

<%# <p><strong>Détails</strong></p>
<ul class="list-group">
  <% @list.reviews.each do |review| %>
    <%# <li class="list-group-item"><%= review.content</li> %>
  <%# <% end %>
<%# </ul>
<br> %>
